@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "INTRO-COND-LIGHT";
  src: url("/intro-cond-light-free.otf");
}

@font-face {
  font-family: "INTRO-COND-BLACK";
  src: url("/intro-cond-black-free.otf");
}

@layer components {
  
  .navlink {
    @apply transition ease-in-out delay-75 duration-300
    py-2 border-b-2 border-transparent text-primary-light/70
  }

  .active-navlink {
    @apply border-primary-light text-primary-light
  }

  .home-div {
    @apply w-full flex justify-center p-5 gap-5 laptop:gap-10 laptop:p-10
  }

  .admin-editor-btn{
    @apply text-gray-800 p-3 rounded-md
    hover:bg-gray-700
  }

  .button1{
    @apply bg-secondary-1 py-3 px-6 rounded-lg shadow-md
    transition-all ease-in-out duration-100
    hover:shadow-xl hover:bg-secondary-2 hover:scale-x-105
  }

  .button2{
    @apply bg-secondary-1 py-3 px-6 rounded-lg shadow-md
    transition-all ease-in-out duration-100
    hover:shadow-xl hover:bg-secondary-2
  }

  h1 {
    @apply text-6xl
  }
  h2 {
    @apply text-4xl
  }h3 {
    @apply text-2xl
  }
  ol {
    @apply list-decimal
  }

  ul {
    @apply list-disc
  }


  code {
    @apply font-mono
  }
}


